body {
  background-image:url('https://i.pinimg.com/originals/55/8c/38/558c38a02449adac719f7f37486eb8bb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



a {
  color: White;
}
font {
  color: White;
}

font1 {
  color: Red;
}
