body {
  background-image:url('https://i.pinimg.com/originals/55/8c/38/558c38a02449adac719f7f37486eb8bb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



a {
  color: White;
}
font {
  color: White;
}

font1 {
  color: Red;
}

#usimg {
  width: 400px;
  height: auto;
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  /* transform: rotate(180deg); */
}

#us2img {
  width: 400px;
  height: auto;
}
 /* -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}*/

a {
    font-family:"Tahoma", Geneva, sans-serif;
  }

h1 {
    font-family:"Tahoma", Geneva, sans-serif;
  }

h2 {
    font-family:"Tahoma", Geneva, sans-serif;
  }

h3 {
    font-family:"Tahoma", Geneva, sans-serif;
  }

h4 {
  margin-left: auto;
}

h5 {
  margin-top:1%;
}
